[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
jinja2 = "*"
tqdm = "*"

[dev-packages]

[scripts]
main = "python main.py"

[requires]
python_version = "3.12"
